<tr>
    <td align="center">
        {[number]}
    </td>

    <td align="left">
        <textarea name="questionkz_{[ticketQuestionID]}" width="100%" maxlength="255" style="border:1px dotted #000; width:100%; padding:5px; overflow:auto">{[questionkz value]}</textarea>
    </td>

    <td align="left">
        <textarea name="questionru_{[ticketQuestionID]}" width="100%" maxlength="255" style="border:1px dotted #000; width:100%; padding:5px; overflow:auto">{[questionru value]}</textarea>
    </td>
</tr>