<tr>
    <td align="center">
        {[number]}
    </td>

    <td align="left">
        <table border=1 width="100%" class="table" bordercolor="#000000">
            <tr>
                <td align="lect">
                    <table border=1 width="100%" class="table" bordercolor="#000000">
                        <tr>
                            <td colspan=2>
                                {[ticketNumber label]}
                            </td>
                        </tr>
                        {[ticket questions]}
                    </table>
                </td>
            </tr>
        </table>
    </td>

    <td align="center">
        {[delete]}
    </td>
</tr>